{% load static %}
<div class="about slin2">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>О нас</h2>
                    <p><i>Art Beauty</i> – это команда профессионалов, страстно увлеченных своей работой. Мы используем только высококачественную косметику и современное оборудование, чтобы обеспечить вам безупречные результаты. Наши мастера постоянно повышают свою квалификацию, следят за последними трендами в индустрии красоты и предлагают вам только лучшие решения для вашего стиля. Откройте для себя мир красоты и совершенства вместе с Art Beauty.</p>
                    <a class="read_more" href="Javascript:void(0)"> Читать дальше</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <figure><img src="{% static 'images/about.png' %}" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>