<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Beauty Salon</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Телефон: +7 (985)-(887)-67-68</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> beauty_salon@.com</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>О нас </h3>
                    <p class="variat">Мы – команда профессионалов, которая страстно занимается искусством красоты и ухода за собой. </p>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>Beauty Salon </h3>
                    <p class="variat">Приходите к нам и откройте для себя мир красоты и заботы!</p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Полезные ссылки:</h3>
                    <ul class="link_menu">
                        <li class="active"><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="{% url 'we_done' %}">Работы</a></li>
                        <li><a href="{% url 'price_cena' %}">Услуги</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </div>
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <h3>Подписаться</h3>-->
<!--                    <form class="bottom_form">-->
<!--                        <a class="right_btn" href="Javascript:void(0)"> <i class="fa fa-long-arrow-right"-->
<!--                                                                           aria-hidden="true"></i></a>-->
<!--                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">-->
<!--                        <p>There are many variations of passages </p>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>© 2025 Beauty Salon
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>