{% extends 'shop/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}

{% include 'shop/navbar.html' %}
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
{% include 'shop/carousel.html' %}
<!-- end banner -->
{% include 'shop/predlogenie.html' %}
<!-- about -->
<div class="about slin2">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    <a class="read_more" href="Javascript:void(0)"> Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <figure><img src="images/about.png" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- our pricing -->
<div class="pricing slin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Pricing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3><span>$</span>20<strong>/one Day</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>Regular</span>
                        <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                    </div>
                </div>
                <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
            </div>
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3><span>$</span>30<strong>/one Day</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>Standard</span>
                        <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                    </div>
                </div>
                <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
            </div>
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3><span>$</span>40<strong>/one Day</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>Premium</span>
                        <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                    </div>
                </div>
                <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
            </div>
        </div>
    </div>
</div>
<!-- end our pricing -->
<!-- experts -->
<div class="experts slin2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Meet Our Experts</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div id="exp" class="experts_box">
                            <div class="experts_img">
                                <figure><img src="images/blog1.jpg" alt="#"/></figure>
                            </div>
                            <div class="meet">
                                <h3>Jacob</h3>
                                <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="exp" class="experts_box">
                            <div class="experts_img">
                                <figure><img src="images/blog2.jpg" alt="#"/></figure>
                            </div>
                            <div class="meet">
                                <h3>Lonut</h3>
                                <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="exp" class="experts_box">
                            <div class="experts_img">
                                <figure><img src="images/blog3.jpg" alt="#"/></figure>
                            </div>
                            <div class="meet">
                                <h3>Irina</h3>
                                <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="read_more mar_top exper" href="Javascript:void(0)"> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end experts -->
<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email " type="type" name="Email ">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="type"
                                      Message="Name">Message</textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                                width="600" height="386" frameborder="0" style="border:0; width: 100%;"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Passages of Lorem Ipsum available</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +012334567890</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>About </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>Nail Salon </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Useful Link</h3>
                    <ul class="link_menu">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html"> About</a></li>
                        <li><a href="we-do.html">What we do</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3>Subscribe</h3>
                    <form class="bottom_form">
                        <a class="right_btn" href="Javascript:void(0)"> <i class="fa fa-long-arrow-right"
                                                                           aria-hidden="true"></i></a>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <p>There are many variations of passages </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
{% endblock %}

