{% extends 'shop/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'shop/navbar.html' %}
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
{% include 'shop/carousel.html' %}
<!-- end banner -->
{% include 'shop/predlogenie.html' %}
<!-- about -->
{% include 'shop/about.html' %}
<!-- end about -->
<!-- our pricing -->
{% include 'shop/price.html' %}
<!-- end our pricing -->
<!-- experts -->
{% include 'shop/experts.html' %}
<!-- end experts -->>
<!--  contact -->
<div class="contact" id="target">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Для связи с нами:</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="request" class="main_form" method="post" action="{% url 'thanks_page' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 ">
                            {{ form.name }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-12">
                            {{ form.phone }}
                        </div>
                        <div class="col-md-12">
                            {{ form.message }}
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'shop/geo.html' %}
</div>
<!-- end contact -->
<!--  footer -->
{% include 'shop/footer.html' %}
<!-- end footer -->
<!-- Javascript files-->
{% endblock %}

