{% extends 'shop/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'shop/navbar.html' %}
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
{% include 'shop/carousel.html' %}
<!-- end banner -->
{% include 'shop/predlogenie.html' %}
<!-- about -->
{% include 'shop/about.html' %}
<!-- end about -->
<!-- our pricing -->
{% include 'shop/price.html' %}
<!-- end our pricing -->
<!-- experts -->
{% include 'shop/experts.html' %}
<!-- end experts -->>
<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email " type="type" name="Email ">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="type"
                                      Message="Name">Message</textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'shop/geo.html' %}
</div>
<!-- end contact -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Passages of Lorem Ipsum available</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +012334567890</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>About </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>Nail Salon </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Useful Link</h3>
                    <ul class="link_menu">
                        <li class="active"><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="we-do.html">Работы</a></li>
                        <li><a href="pricing.html">Услуги</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3>Subscribe</h3>
                    <form class="bottom_form">
                        <a class="right_btn" href="Javascript:void(0)"> <i class="fa fa-long-arrow-right"
                                                                           aria-hidden="true"></i></a>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <p>There are many variations of passages </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
{% endblock %}

