{% extends 'price_site/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'price_site/navbar.html' %}
<!-- end header inner -->
<!-- end header -->
      <!-- end header -->
      <!-- banner -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2><i>Наши цены</i></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- our pricing -->
      <div  class="pricing slin">
         <div class="container">
            <div class="row">
               {% for price in prices %}
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3> <span>$</span>{{ price.price }}<strong>/one Day</strong></h3>
                     </div>
                     <div class="our_pricing">
                        <span>{{ price.price_title }}</span>
                        <p>{{ price.text }}</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="Javascript:void(0)"> Записаться сейчас</a>
               </div>
               {% endfor %}

            </div>
         </div>
      </div>
      <!-- end our pricing -->
     
<!--  footer -->
{% include 'shop/footer.html' %}
<!-- end footer -->


{% endblock %}
