{% extends 'we_done/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'we_done/navbar.html' %}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>Наши работы</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'we_done/category.html' %}

<!-- what we do  -->
<div class="we_do slin">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="row" style="display: flex; justify-content: space-around">
                    {% for work in works %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ work.work_img.url }}" class="card-img-top" style="object-fit: contain" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ work.work_title }}</h5>
                            <p class="card-text">{{ work.work_text }}</p>
                            <a href="{% url 'usluga' work.id %}" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                    <!--                    <div class="col-md-3 col-sm-6">-->
                    <!--                        <div class="we_box">-->
                    <!--                            <a href="{% url 'usluga' work.id %}">-->
                    <!--                                <i><img src="{{ work.work_img.url }}"-->
                    <!--                                        style="width: 1000px;height: 300px; border-radius: 5px"-->
                    <!--                                        alt="#"/></i><br/><br/><br/>-->
                    <!--                            </a>-->
                    <!--&lt;!&ndash;                            <h3>{{ work.work_title }}</h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;                            <p>{{ work.work_text }} </p>&ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end what we do  -->

<!--  footer -->
{% include 'shop/footer.html' %}
<!-- end footer -->
{% endblock %}

