{% extends 'about/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'about/navbar.html' %}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>Ваши мечты - наши пожелания</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div class="about slin2">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <div class="titlepage">
                        <h2>Наша команда</h2>
                        <p>Добро пожаловать в наш салон красоты!<br/><br>

                            Мы – команда профессионалов, которая страстно занимается искусством красоты и ухода за
                            собой. Наша цель – помочь вам выглядеть и чувствовать себя наилучшим образом.<br/><br/>

                            Что мы предлагаем:<br/>
                            - Широкий спектр услуг: от стрижек и укладок до маникюра и педикюра.<br/>
                            - Индивидуальный подход: мы учитываем ваши пожелания и особенности, чтобы создать уникальный
                            образ.<br/>
                            - Качественные материалы: используем только проверенные и безопасные продукты для ухода за
                            вашим телом и волосами.<br/><br/>

                            Почему выбирают нас:<br/>
                            - Опытные мастера: наша команда состоит из сертифицированных специалистов с многолетним
                            опытом.<br/>
                            - Комфортная атмосфера: мы создаем уютное пространство, где вы сможете расслабиться и
                            насладиться процедурами.<br/>
                            - Постоянные акции и скидки: следите за нашими предложениями, чтобы получать лучшие услуги
                            по выгодным ценам.<br/><br/>

                            Мы верим, что красота начинается изнутри, и наша задача – подчеркнуть вашу индивидуальность.
                            Приходите к нам и откройте для себя мир красоты и заботы!<br/></p>
                        <a class="read_more" href="{% url 'index' %}"> Записаться!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <figure><img src="{% static 'images/logo.jpeg' %}" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->

<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Passages of Lorem Ipsum available</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +012334567890</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                    </ul>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>About </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class=" col-md-3 col-sm-6">
                    <h3>Nail Salon </h3>
                    <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered le</p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h3>Useful Link</h3>
                    <ul class="link_menu">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html"> About</a></li>
                        <li><a href="we-do.html">What we do</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3>Subscribe</h3>
                    <form class="bottom_form">
                        <a class="right_btn" href="Javascript:void(0)"> <i class="fa fa-long-arrow-right"
                                                                           aria-hidden="true"></i></a>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <p>There are many variations of passages </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
{% endblock %}


