{% extends 'about/base.html' %}
<!-- end loader -->
<!-- header -->
{% block content %}
{% load static %}
{% include 'about/navbar.html' %}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><i>Ваши мечты - наши пожелания</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div class="about slin2">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <div class="titlepage">
                        <h2>Наша команда</h2>
                        <p>Добро пожаловать в наш салон красоты!<br/><br>

                            Мы – команда профессионалов, которая страстно занимается искусством красоты и ухода за
                            собой. Наша цель – помочь вам выглядеть и чувствовать себя наилучшим образом.<br/><br/>

                            Что мы предлагаем:<br/>
                            - Широкий спектр услуг: от стрижек и укладок до маникюра и педикюра.<br/>
                            - Индивидуальный подход: мы учитываем ваши пожелания и особенности, чтобы создать уникальный
                            образ.<br/>
                            - Качественные материалы: используем только проверенные и безопасные продукты для ухода за
                            вашим телом и волосами.<br/><br/>

                            Почему выбирают нас:<br/>
                            - Опытные мастера: наша команда состоит из сертифицированных специалистов с многолетним
                            опытом.<br/>
                            - Комфортная атмосфера: мы создаем уютное пространство, где вы сможете расслабиться и
                            насладиться процедурами.<br/>
                            - Постоянные акции и скидки: следите за нашими предложениями, чтобы получать лучшие услуги
                            по выгодным ценам.<br/><br/>

                            Мы верим, что красота начинается изнутри, и наша задача – подчеркнуть вашу индивидуальность.
                            Приходите к нам и откройте для себя мир красоты и заботы!<br/></p>
                        <a class="read_more" href="{% url 'index' %}"> Записаться!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img">
                    <figure><img src="{% static 'images/logo.jpeg' %}" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->

<!--  footer -->
{% include 'shop/footer.html' %}
<!-- end footer -->
{% endblock %}


